build
package.json
coverage/
test/coverage/**/*.js
CCDA_2.1/data/
Envision/*
coverage/*
logs/
build/
build/*
node_modules/
Parser/qrda1toCCDConverter/
Parser/processing/data/
Predict/*
Server/temp/
coverage/
temp/
test/db/
test/findImprovements/
test/helper/*ummary*.js
test/hl7/hl7.json
test/memory/
test/noDB/
test/speed/
test/version/
test/vs-s/
test/xml/
test/xml2/
test/xml2_generated/
test/xmlbig/
test/xmlGrade/
test/xmlMU/
WebServer/SPA/
ecosystem.config.js
coverage/
